---
layout: single
title: News
description: News from The Dogecoin Foundation.
---

{% for post in site.posts limit: 20 %}
	<div class="row">
		<div class="col-md-2">
		</div>
		<div id="blog2" class="col-md-8">
			<h3><b><a href="{{ post.url }}">{{ post.title }}</a></b></h3>
			<p class="postTime">Posted: {{ post.post_time }}</p>

			{{ post.content | truncatewords:100}}

			<a href="{{ post.url }}">Read more</a>		
		</div>
		<div class="col-md-2">
		</div>
	</div>
	{% if forloop.last == false %}
		<hr class="fadein-line" />
	{% endif %}
{% endfor %}