<footer>
  <div class="container">
    <div class="text-left col-sm-4">
      <h5><a href="/">Home</a></h5>
      <h5><a href="/news">News</a></h5> 
      <h5><a href="/about">About Us</a></h5>
      <h5><a href="/contact">Contact</a></h5>
    </div>
    <div class="text-center col-sm-4">
      <h1>
        <a href="https://twitter.com/TheDogecoinFdn"><span class="socicon socicon-twitter"></span></a>
        <a href="https://www.reddit.com/user/dogecoinfoundation"><span class="socicon socicon-reddit"></span></a>
      </h1>
    </div>
    <div class="text-right col-sm-4">
      <h5>Design by <a href="http://steamcommunity.com/id/powerlemonz" class="explicit-link" target="_blank">PowerLemons</a>.</h5> 
      <h5>
        "Shibetoshi Nakamoto" by <a href="http://christinemix.com" class="explicit-link" target="_blank">Christine Ricks</a>.
      </h5>
      <h5>Photo by <a href="https://twitter.com/ciaela" class="explicit-link" target="_blank">Micaela Braithwaite</a>.</h5>
      <h5 style="margin-top: -5px;">&copy; 2014 - 2015 - The Dogecoin Foundation</h5>
    </div>
  </div>
</footer>