<!-- HTML5 Shiv -->
<!--[if lt IE 9]>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/socicon.css" rel="stylesheet">
<link href="/css/foundation.css" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" type="image/png" href="/img/300coin.png">
<link href="/img/300coin.png" rel="shortcut icon">
<link href="/img/300coin.png" rel="apple-touch-icon-precomposed">