<div class="navbar-collapse collapse navbar-right" id="navbar-main">
  <ul class="nav navbar-nav">
    <li><a href="/news" class="navbar-colorchange">News</a></li>
    <li><a href="/about" class="navbar-colorchange">About Us</a></li>
    <li><a href="http://forum.dogecoin.com/forum" >Community Forums</a></li>
    <!-- <li><a href="/whydonate" class="navbar-colorchange">Why Donate?</a></li> -->
    <!-- <li><a href="/projects" class="navbar-colorchange">Active Projects</a> -->
    <li><a href="/contact" class="navbar-colorchange">Contact</a></li>
    <!-- <li><a href="/projects" class="navbar-colorchange">Donate</a></li> -->
  </ul>
</div>